# Node
node_modules/
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Entorno
.env
*.local

# Videos, imágenes grandes, archivos pesados
src/assets/videos/*
*.mp4
*.mov
*.avi
*.zip
*.rar
*.7z
*.psd
*.xcf
